
.subgraphOutput #title {
	background-color: #0000bb;
}

.subgraphOutput #icon {
	background-image: resource("arrow-right-solid");
	-unity-background-scale-mode: scale-to-fit;
	min-width: 16px;
	margin: 2px;
}

.subgraphOutput #title .unity-base-field {
	width: 100%;
	flex-shrink: 1;
}

.subgraphOutput #title #unity-text-input {
	background-color: rgba(0, 0, 0, 0);
	border-width: 0;
}
