
.canvasView {
	flex: 1;
}

.canvasViewTitle {
	position: absolute;
	bottom: 5px;
	left: 15px;
	font-size: 50px;
	opacity: 0.15;
}

GridBackground {
	--grid-background-color: rgba(20, 20, 20, 1);
	--line-color: rgba(25, 25, 25, 1);
	--thick-line-color: rgba(50, 50, 50, 1);
	--spacing: 500;
	--thick-lines: 0;
}
